{% extends "base.html" %}

{% block content %}
<div class="about-section">
    <h2>About Me</h2>
    <p>Hello! I'm <strong>Supratim Nag</strong>, a passionate machine learning engineer currently pursuing a B.Tech in
        CSE-AIML, now in my 6th semester. I am deeply interested in machine learning, deep learning, NLP, and generative
        AI.</p>
    <p>This portfolio is a reflection of my journey and showcases some of my projects and models aimed at solving
        real-world problems using AI and ML techniques.</p>
    <p>In addition to developing and deploying ML models, I am constantly exploring advanced topics such as:
    <ul>
        <li>Deep Learning Architectures (CNNs, RNNs, Transformers)</li>
        <li>Natural Language Processing (Text Analysis, Sentiment Analysis, Chatbots)</li>
        <li>Generative AI (Stable Diffusion, GANs, LLMs)</li>
        <li>Computer Vision Applications</li>
    </ul>
    </p>
    <p>I aim to leverage AI/ML technologies to make a significant impact in various domains. Feel free to explore my
        portfolio and reach out if you have any questions or opportunities!</p>
</div>
{% endblock %}