{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to ML Showcase!</h1>
    <p class="lead">Explore my collection of machine learning projects.</p>
    <hr class="my-4">
    <p>If you are looking for some Machine Learning projects using Python to practice Machine Learning concepts, this
        site is for you. In this website, I will take you through a list of Machine Learning projects using Python you
        can work on as a beginner in Machine Learning.
    </p>
    <a class="btn btn-primary btn-lg" href="/models" role="button">Explore Models</a>
</div>

<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/static/images/model1.jpg" class="card-img-top" alt="Model 1">
                <div class="card-body">
                    <h5 class="card-title">Predictive Analytics</h5>
                    <p class="card-text">Discover how data-driven predictions can transform decision-making processes.
                    </p>
                    <a href="/models/predictive-analytics" class="btn btn-outline-primary">Try Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/static/images/model2.jpg" class="card-img-top" alt="Model 2">
                <div class="card-body">
                    <h5 class="card-title">Image Recognition</h5>
                    <p class="card-text">Upload an image and let AI identify objects or patterns with accuracy.</p>
                    <a href="/models/image-recognition" class="btn btn-outline-primary">Try Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/static/images/model3.jpg" class="card-img-top" alt="Model 3">
                <div class="card-body">
                    <h5 class="card-title">Text Analysis</h5>
                    <p class="card-text">Analyze and extract insights from textual data using NLP techniques.</p>
                    <a href="/models/text-analysis" class="btn btn-outline-primary">Try Now</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<footer class="text-center mt-5">
    <p>&copy; 2024 ML Showcase. Built with <span style="color: #e25555;">&hearts;</span> by Supratim Nag.</p>
</footer>
{% endblock %}