{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-center">My Machine Learning Models</h2>
    <div class="row">
        <!-- Model 1 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models01.jpeg') }}" class="card-img-top" alt="Model 1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 1: health-insurance-prediction</h5>
                    <p class="card-text">A brief description of what Model 1 does, the technologies used, and its
                        applications.</p>
                    <a href="https://health-insurance-prediction-dq54.onrender.com/" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
        <!-- Model 2 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models02.jpeg') }}" class="card-img-top" alt="Model 2">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 2: dynamic-price-prediction</h5>
                    <p class="card-text">A brief description of what Model 2 does, the technologies used, and its
                        applications.</p>
                    <a href="https://dynamic-price-prediction-iy6t.onrender.com/" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
        <!-- Model 3 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models03.png') }}" class="card-img-top" alt="Model 3">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 3: ad-click-prediction </h5>
                    <p class="card-text">A brief description of what Model 3 does, the technologies used, and its
                        applications.</p>
                    <a href="https://ad-click-prediction.onrender.com/" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
        <!-- Model 4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models04.jpg') }}" class="card-img-top" alt="Model 4">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 4: diabetes-prediction</h5>
                    <p class="card-text">A brief description of what Model 4 does, the technologies used, and its
                        applications.</p>
                    <a href="https://diabetes-prediction-9sc2.onrender.com/" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
        <!-- Model 5 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models05.jpeg') }}" class="card-img-top" alt="Model 5">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 5: usa-housing-prediction</h5>
                    <p class="card-text">A brief description of what Model 5 does, the technologies used, and its
                        applications.</p>
                    <a href="https://usa-housing-prediction.onrender.com/" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
        <!-- Model 6 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models06.jpg') }}" class="card-img-top" alt="Model 6">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 6:titanic-survival</h5>
                    <p class="card-text">A brief description of what Model 6 does, the technologies used, and its
                        applications.</p>
                    <a href="https://titanic-survival-0rbb.onrender.com/" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
        <!-- model 7 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models07.jpeg') }}" class="card-img-top" alt="Model 6">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 6: car-price-prediction </h5>
                    <p class="card-text">A brief description of what Model 6 does, the technologies used, and its
                        applications.</p>
                    <a href="https://car-price-prediction-8kop.onrender.com/" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
        <!-- model 8 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/models08.jpeg') }}" class="card-img-top" alt="Model 6">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Model 6: spotify-popularity-prediction </h5>
                    <p class="card-text">Music popularity prediction involves developing machine learning models to
                        estimate the popularity of music tracks based on their audio features. Predicting the popularity
                        of music can help music streaming platforms understand user preferences, optimize playlists and
                        enhance recommendation systems to improve user engagement and satisfaction.</p>
                    <a href="https://spotify-popularity-prediction.onrender.com" class="btn btn-primary mt-auto"
                        target="_blank">View Model</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}